<div class="login-page">
  <div class="lang-bar">
    <button *ngFor="let l of langs" (click)="changeLang(l.code)"
      [class.active]="translateConfig.getCurrentLang()===l.code" class="lang-btn">
      {{l.flag}} {{l.code.toUpperCase()}}
    </button>
  </div>
  <div class="login-card">
    <div class="login-header">
      <div class="logo">RH</div>
      <h1>{{ 'APP.TITLE' | translate }}</h1>
      <p>{{ 'LOGIN.SUBTITLE' | translate }}</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label>{{ 'LOGIN.USERNAME' | translate }}</label>
        <div class="input-wrap">
          <input formControlName="username" type="text" class="form-input"
            [placeholder]="'LOGIN.USERNAME' | translate">
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
        <div class="input-wrap">
          <input formControlName="password" [type]="hidePassword ? 'password' : 'text'"
            class="form-input" [placeholder]="'LOGIN.PASSWORD' | translate">
          
            <button type="button" (click)="hidePassword=!hidePassword" class="toggle-pwd">
  <!-- Œil ouvert : mot de passe visible -->
  <svg *ngIf="!hidePassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round">
    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
    <circle cx="12" cy="12" r="3"/>
  </svg>
  <!-- Œil barré : mot de passe masqué -->
  <svg *ngIf="hidePassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round">
    <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8
             a18.45 18.45 0 0 1 5.06-5.94"/>
    <path d="M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8
             a18.5 18.5 0 0 1-2.16 3.19"/>
    <line x1="1" y1="1" x2="23" y2="23"/>
  </svg>
</button>
        
        </div>
      </div>
      <div class="error-msg" *ngIf="error">{{ 'LOGIN.ERROR' | translate }}</div>
      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
        {{ 'LOGIN.SUBMIT' | translate }}
      </button>
    </form>
    <div class="credentials-hint">
      <p>Admin: admin / admin123</p>
      <p>Employe: employe / emp123</p>
    </div>
  </div>
</div>